.section p {
  max-width: 700px;
  margin: auto;
  font-size: 1.1rem;
  color: #cbd5e1;
  line-height: 1.7;
}
.section p {
  color: var(--secondary-text);
}

.section h2 {
  color: var(--text-color);
}
/* Remove default section underline */
.about-title::after {
  display: none !important;
}

/* Clean heading */
.about-title {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}