.section {
  text-align: center;
}

.section h2 {
  font-size: 2.8rem;
  margin-bottom: 50px;
  font-weight: 700;
  position: relative;
}

.section h2::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #3b82f6;
  display: block;
  margin: 15px auto 0;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .section h2 {
    font-size: 2rem;
  }
}
.section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}